A.menu_link {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #275883; FONT-FAMILY: Verdana
}
.awards A {
	FONT-WEIGHT: normal; FONT-SIZE: 13px; COLOR: #ffffff; FONT-FAMILY: Verdana
}
TD.copyright {
	FONT-WEIGHT: bold; FONT-SIZE: 9px; COLOR: #ffffff; FONT-FAMILY: Verdana
}
.page_title {
	FONT-WEIGHT: bold; FONT-SIZE: 20px; COLOR: #000000; FONT-FAMILY: Times New Roman
}
.page_text TD {
	FONT-WEIGHT: normal; FONT-SIZE: 13px; COLOR: #275883; FONT-FAMILY: Verdana
}
.page_text {
	FONT-WEIGHT: normal; FONT-SIZE: 13px; COLOR: #275883; FONT-FAMILY: Verdana
}
