body {
	background-color:#E4E4E4;
}

th {
	color:#CECECE;
	background-color:#1B1B1B;
}


td{
	color:#1A1A00;
}
table{
	 background-color:#CCCCCC;
	
}
}
h1, h2 {
	color:#333333;
}

h3, h4, h5, h6 {
	color:#444444;
}

a {
  color:#0F0E12;
 
}
a:hover{
	 color:#666666
}

